[Unit]
Description=Chess Erdos backend
After=network.target

[Service]
User=chess_erdos
Group=chess_erdos
WorkingDirectory=/home/chess_erdos
Environment=NEWRELIC_LICENSE_KEY={{ newrelic.license_key }}
ExecStart=/home/chess_erdos/chess-erdos
Restart=always

[Install]
WantedBy=multi-user.target
